            <!-- add-todo.component.ts = todos.component.ts -->
 <app-add-todo (addTd)="addTodoItem($event)"></app-add-todo>
 <!-- (addTd) add-todo.component.ts; addTodoItem ist in todos.component.ts -->
 
 <div class="container-fluid">
     <div *ngFor="let item of todos"  class="row d-flex justify-content-center">
         <!-- Jedes Item 1 Component (todo-item) Looping through the items-->
         <div class="col-xs-12 col-md-9 col-lg-6 col-xl-4">
            <app-todo-item 
    
            [toDoItemComponent]="item"
            (delTodoItem)="deleteTodoItem($event)"
            (toggleTodoItem)="toggleTodoItem($event)"
            >
            <!-- toDoItemComponent&delTodoItem sind im todo-item.component.ts; deleteTodoItem ist in todos.component.ts-->
        
            </app-todo-item>
         </div>
   
     </div>
    

 </div>
