<div [ngClass]="setClasses()"> <!-- Dynamic Class Binding -->
    <p>         <!-- Event -->
        <input (change)="onToggle(toDoItemComponent)" type="checkbox"/>
        {{toDoItemComponent.title}}
        <button (click)="onDelete(toDoItemComponent)" class="del">x</button> 
        <!-- 1. Beim on Click wird die onDelete Methode /todo-item.component aufgerufen mit dem toDoItem -->
    </p>
</div>

