.del {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}
.del:hover {
    background: #c10000;
}

.item-outline {
    background: #fff;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    height: 50px;
    width: 100%;
    font-size: 1.15rem;
    margin: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;

}

.is-complete {
    text-decoration: line-through;
}
