<div>
  <app-header></app-header> <!-- header.component.ts: SELECTOR -->
  <app-todos></app-todos> <!-- todos.component.ts: SELECTOR-->
  <!-- mit router:
  
    <router-outlet></router-outlet>
  
  -->
</div>