.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Align the flex items at the center of the container */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.form input[type='text'] {
  padding: 0.5rem 1rem;
  height: 50px;
  background-color: white;
  width: 450px;
  font-size: 1.15rem;
  margin: 0.25rem;
  border-radius: 25px;
  border: none;
  outline: none;
}

.form input[type='submit'] {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
  margin: 20px;
  background-color: #006400;
  cursor: pointer;
  /* Hover on Button will change cursor */
}

.form input[type='submit']:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=add-todo.component.css.map */