                    <!-- ng Event -->
<form class="form" (ngSubmit)="onSubmit()">                 <!-- Binden (component.ts)-->
    <input type="text" name="title" [(ngModel)]="title" placeholder="Add Todo...">
    
    <input type="submit" value="+" class="btn">
</form>