body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    height: 100%;
    background-image: url(img/office.png);
    background-repeat: no-repeat;
    background-size: 1980px 1080px;
    background-attachment: fixed; 
}

a {
    color: #333;
    text-decoration: none;
}

.btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
}

.btn:hover {
    background: #666;
}